/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/
:root {
  --fw: 400; //font-weight
  --fh: 500; //font-weight h1-h6


  .post_sum {
    display: flex;
    flex-direction: column;
  }

  .post_sum_left {
    text-align: left;
    margin-left: 1em;
  }

  .post_sum_right {
    margin-left: 1em;
    text-align: left;
  }

  .title_post_sum {
    margin-top: -10px;
    margin-bottom: 10px;

  }

  $breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  );

@if map-get($breakpoints, "md") {
  @media (min-width: map-get($breakpoints, "xl")) {
    .post_sum {
      flex-direction: row; // row layout for desktop view
      margin: 0 0 0 auto; // desktop layout
    }
    .post_sum_right {
      margin-left: 1em;
      width: 80%;
      text-align: left;
      flex-grow: 2;
    }

    .post_sum_left {
      width: 20%;
      text-align: left;
    }
  }
}

.meta_index {
  display: flex;
}

.meta_index_left {
  width: 50%;
  text-align: left;
}

.meta_index_right {
  width: 50%;
  text-align: right;
  flex-grow: 1;
}

.l {
  text-align: left
}
}